{% extends '/partials/base.html.twig' %}

{% block sub_javascripts %}
    <script>
        var transparent = true;
        var checkScrollForTransparentNavbar = debounce(function() {
            if($(document).scrollTop() > 160 ) {
                if(transparent) {
                    transparent = false;
                    $('.navbar-bg-on-scroll').removeClass('navbar-transparent');
                }
            } else {
                if( !transparent ) {
                    transparent = true;
                    $('.navbar-bg-on-scroll').addClass('navbar-transparent');
                }
            }
        }, 17);
        

        $(document).ready(function(){
            if($('.navbar-bg-on-scroll').length != 0){
                $(window).on('scroll', checkScrollForTransparentNavbar)
            }
        });
        
        // Returns a function, that, as long as it continues to be invoked, will not
        // be triggered. The function will be called after it stops being called for
        // N milliseconds. If `immediate` is passed, trigger the function on the
        // leading edge, instead of the trailing.

        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                }, wait);
                if (immediate && !timeout) func.apply(context, args);
            };
        };
    </script>
{% endblock %}

{% block body%}
<div class="uk-container uk-container-center uk-margin-large-bottom uk-margin-large-top">
    <div class="section">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                {{ page.content }}
            </div>
        </div>
    </div>
    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}
</div>
{% endblock %}